extends ../layout

block content
  h1 Skills
  ul
    each skill, key in digest.skills
      - const checked = checks[skill.id] || false
      li.list-item-with-checkbox(data=data)
        input.skill-checkbox(type="checkbox", checked=checked, data-label=skill.id)
        a(href=skill.path) !{renderSkill(skill)}
