extends layout

block breadcrumb


block content
  h1 Glossary

  for letter in alphabet
    - terms = glossary.filter(({term}) => term.toLowerCase().startsWith(letter))
    if terms.length > 0
      h3= letter.toUpperCase()
      ul.glossary-terms-list
        for definition in terms
          li
            a(href="##{definition.term}")= definition.term

  hr 

  for definition in glossary
    h3(id=definition.term)= definition.term
    pre.pre-line= definition.description

    if "links" in definition
      ul
        for link in definition.links
          li
            a(href=link target="_blank")= link
