extends layout

block content
  ul.markdown-page-options.list-inline
    li
      a(href=sourceUrl target="_blank") View On GitHub
    li
      a(href=editeUrl target="_blank") Improve This Page
    li
      a(href="https://github.com/GuildCrafts/curriculum/issues/new?&body=%23+Bug+Report%0A%0AI+found+a+problem+on+#{encodeURIComponent(currentURL)}%0A%0A" target="_blank") Report A Bug
    if phase
      li
        a(href="/phases/#{phase.number}/skills") Skills
      li
        a(href="/phases/#{phase.number}/schedule") Schedule
      if phase.number === 4
        li
          a(href="/phases/4/status") Status
      if currentUser.isAdmin
        li
          a(href="/phases/#{phase.number}/dashboard") Dashboard

  textarea.hidden.skills-data= JSON.stringify(currentModuleSkills)

  .markdown-body !{content}
