nav.navbar.navbar-inverse(role='navigation')
  .container-fluid

    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-logo(href='/')

    .collapse.navbar-collapse
      ul.nav.navbar-nav

        li.hidden-sm
          a(href='/guide') Guide

        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Phases
            b.caret
          ul.dropdown-menu(role='menu')
            each phase in digest.phases
              li
                a(href='/phases/'+phase.number+'/') Phase #{phase.number}

        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Modules
            b.caret
          ul.dropdown-menu(role='menu')
            each module, id in digest.modules
              - className = currentModule && currentModule.id == module.id ? 'dropdown-menu-current' : ''
              li(class=className)
                a(href='/modules/'+id+'/')= module.name

        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Skills
            b.caret
          ul.dropdown-menu(role='menu')
            li(class=className)
              a(href='/skills') All Skills
            li.divider(role="presentation")
            each phase in digest.phases
              li
                a(href='/phases/'+phase.number+'/skills') Phase #{phase.number}

        li.dropdown.hidden-sm
          a(href='/cos/') COS

        li.dropdown
          a(href='/users') Users

        li.dropdown
          a(href='/calendar') Calendar

        if process.env.NODE_ENV === 'development'
          li.dropdown
            a(href='/digest') Digest

      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.navbar-link(href="/profile")= currentUser.handle
        li.dropdown
          a.navbar-link(href=logoutUrl) logout
        li.dropdown
          a.navbar-link(href="https://github.com/GuildCrafts/curriculum/issues/new" title="Report A Bug" target="_blank")
            i.glyphicon.glyphicon-fire
