nav.navbar.navbar-inverse(role='navigation')
  .container-fluid

    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-5')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-logo(href='/')
        img(src="https://brand.learnersguild.org/assets/learners-guild-icon.png")
        span Learners Guild

    .collapse.navbar-collapse
      ul.nav.navbar-nav

        li
          a(href='/guide') Guide

        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Phases
            b.caret
          ul.dropdown-menu(role='menu')
            each phase in digest.phases
              li
                a(href='/phases/'+phase.number+'/') Phase #{phase.number}

        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Modules
            b.caret
          ul.dropdown-menu(role='menu')
            each module, id in digest.modules
              - className = currentModule && currentModule.id == module.id ? 'dropdown-menu-current' : ''
              li(class=className)
                a(href='/modules/'+id+'/')= module.name

        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Skills
            b.caret
          ul.dropdown-menu(role='menu')
            li(class=className)
              a(href='/skills') All Skills
            li.divider(role="presentation")
            each phase in digest.phases
              li
                a(href='/phases/'+phase.number+'/skills') Phase #{phase.number}

        li.dropdown
          a(href='/users') Users

        if process.env.NODE_ENV === 'development'
          li.dropdown
            a(href='/digest') Digest

      .navbar-text.navbar-right
        .list-inline
          li
            a.navbar-link(href="")= user.handle
          li
            a.navbar-link(href=logoutUrl) logout
          li
            a.navbar-link(href="https://github.com/GuildCrafts/curriculum/issues/new" title="Report A Bug" target="_blank")
              i.glyphicon.glyphicon-fire
